.backgroundimage {
    
    background: url(../img/kuleuven.jpg);
    background-size: cover;
   
}

.login-screen-title {
    color: white;
}

.list-block {
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 8px 6px -6px black;
    border-radius: 20px;
}

 .signin {
    background-color: rgba(255, 255, 255, 0.72);
    box-shadow: 0 8px 6px -6px black;
    border-radius: 20px;
    height: 0;
}

.item-link {
    text-align: center;
    background-color: rgba(126, 87, 48, 0.90);/**/
    border-radius: 20px 20px 0px 0px;
}

.item-link:hover{
    background-color: #00a7ff;
    color: aliceblue;
    
}

.kul {
    position: relative;
    top: 110px;
    box-shadow: 0 8px 6px -6px black;
}



.open-login-screen {
    position: relative;
    top: 150px;
    width: auto;
    font-size: 17px;
    color: white;
}


.list-block-label {
    color: #0088ff;
    font-size: 15px;
    background-color: rgba(0, 64, 122, 0.90);
    position: relative;
    bottom: 24px;
    height: 130px;
    border-radius: 0px 0px 20px 20px;
}

.list-block-label p {
    color: aliceblue;
    position: relative;
    top: 30px;
    font-size: 12px;
}

.list-block-label p a {}

.size-50 {
    font-size: 50px;
    padding: 40px;
    
    color: white;
    background-color: rgba(126, 87, 48, 0.85);
    border-radius: 25px;
    box-shadow: 0 8px 6px -6px black;
}



#loginlogo {
    text-align: center;
    
}



.logo {
    background-color: #1c1c1c;
}

.page-content {
    background-color: black;
}
