.backgroundimage {
    background: url(../img/kuleuven.jpg) no-repeat center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(0px);
    position: absolute;
    left: 0;
    top: 0;
}

.login-screen-title {
    color: white;
}

.loginUP {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
}

.signin {
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 20px;
    height: 0;
}

.btn {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: auto;
    width: 80%;
    /**/
}

.item-link:hover {
    background-color: rgba(69, 0, 255, 0.5);
    color: aliceblue;
}

.kul {
    position: relative;
    top: 110px;
    box-shadow: 0 8px 6px -6px black;
}

.open-login-screen {
    position: relative;
    top: 150px;
    width: auto;
    font-size: 17px;
    color: white;
}

.list-block-label {
    color: #0088ff;
    font-size: 9px;
    background-color: rgba(0, 64, 122, 0.4);
    position: relative;
    height: 90px;
    margin: 0;
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.list-block-label p {
    color: aliceblue;
    position: relative;
    top: 20px;
    font-size: 12px;
}

.list-block-label p a {
    color: #8dd4f8;
}

.size-50 {
    font-size: 50px;
    padding: 40px;
    color: white;
    background-color: rgba(126, 87, 48, 0);
    border-radius: 25px;
}

#loginlogo {
    text-align: center;
}

.logo {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

.loading {
    background-color: #101010;
}

#spinLoader {
    text-align: center;
}

#logoVenster {
    background-size: cover;
}

.vensterContainer.backgroundImage {
    background: url(/img/kuleuven.jpg);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.logincontent {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.circle {
    margin: 10px 10px 10px 10px;
    box-shadow: 0 8px 6px -6px black;
}

.vakkenContent {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#invoer {
   background-color: rgba(255, 255, 255); 
    text-align: center;
    padding: 7px
}

.D:hover{
    background-color: #ff9500;
    color: #222426;
    font-weight: bold;
    cursor: pointer;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
    box-shadow: 0 8px 6px -6px black;
    
}
.Em:hover{
    background-color: #4cd964;
    color: #222426;
    font-weight: bold;
    cursor: pointer;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
    box-shadow: 0 8px 6px -6px black;
    
}
.E:hover{
    background-color: #ff3b30;
    color: #222426;
    font-weight: bold;
    cursor: pointer;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
    box-shadow: 0 8px 6px -6px black;
}
.O:hover{
    background-color: #ff2d55;
    color: #222426;
    font-weight: bold;
    cursor: pointer;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
    box-shadow: 0 8px 6px -6px black;
}



.studiePunten {
    text-align: center;
    position: relative;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 6px -6px black;
}

.studiePunten  h1 span{
    color: #4cd964;
}

.studiePunten  h1{
    padding-top: 20px;
}



.behaaldStudiepunt {
    color: dimgrey;
    padding-bottom: 20px;
}



.logoschool {
    text-align: center;
    position: relative;
    bottom: 20px;
    left: 20px;
    position: fixed;
    
}

.logoschool img{
    box-shadow: 0 8px 6px -6px black;
    
}

.Versturen {
text-align: center;
    position: relative;
    top: 50px;

}
.Versturen p a{
   background-color: rgba(0, 0, 0, 0.47);
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 8px 6px -6px black;
    border: 0.5px solid;
}

.Versturen p a:hover{
background-color: white;
    color: black;
    
}

