



.form-signin {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    height: 210;
}

.form-control h3,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-control h3{
    text-align: center;
    text-shadow: ;
    color: aliceblue;
}




 .form-control {
    position: relative;
    height:250;
    top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(68, 158, 198, 0.46);
     border: rgb(111, 0, 13);
     
}

.form-control:focus {
    z-index: 2;
}

.form-control input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.ui-content {
    margin: 0 auto;
    width: 414px;
    height: 370;
    background-color: rgba(0, 58, 111, 0.76);
    position: relative;
    top: 120px;
    color: #ffffff;
    text-shadow: 1px 0px rgb(24, 70, 173);
    border-radius: 1px;
    box-shadow: 0 8px 6px -6px rgb(0, 0, 0)
}


input[type=email] {
    border-radius: none;
    border-bottom: 2px solid #449ec6;
}

input[type=password] {
    border-radius: none;
    border-bottom: 2px solid #449ec6;
}
.btn{
   
}

#Logo_KuLeuven {
    position: relative;
    left: 130px;
    top:20px;
    width: 120;
    -webkit-box-shadow: 0 10px 6px -6px #121111;
       -moz-box-shadow: 0 10px 6px -6px #121111;
            box-shadow: 0 10px 6px -6px #121111;
}
